h1 {
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
  }

h3 {
    font-weight: bold;
    font-family: Arial, Helvetica, Monospace;
}

p {
    font-weight: lighter;
    font-family: Arial, Helvetica, Monospace;
}

.header {
  padding: 10px;
  padding-left: 30px;
  background-color: rgb(153, 111, 82);
}

#headerMenu {
  display: block;
  float: right;
}

.header h1 {
  position: absolute;
  top: 0;
  right: 28px;
  font-size: 20px;
}

.header a {
  background-color: #4CAF50;
  border: 3px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 120px;
}

.header a:hover {
  background-color: black;
}

#headimage {
  height: 50px;
}

/* Voorpagina */

#infoWrap{
  padding: 2%;
}

#algemeneInfoDiv{
  width: 40%;
  float: left;
}

#webXrUitleg{
  width: 60%;
  float: left;
  clear: both;
}

#kaartVerkoopDiv{
  width: 40%;
  float: right;
}

#openingstijden{
  width: 60%;
  float: right;
  clear: both;
}

#imageWrap{
  clear: both;
  padding: 2%;
}

#img1{
  width: 35%;
  height: auto;
  float: left;
}

#img2{
  width: 35%;
  height: auto;
  float: right;
}

/* webXR */

/* contact */